body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    color: #35424a;
}

h3 {
    color: #35424a;
    cursor: pointer; /* Adiciona um cursor de ponteiro para indicar que é clicável */
}

p {
    line-height: 1.6;
    margin: 0 0 20px;
}

.hidden {
    display: none; /* Oculta os elementos com a classe "hidden" */
}

a {
    color: #35424a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    margin-bottom: 90px;
}